.multi-system .hr-left-margin { margin-left:15px }
.multi-system .status-left-padding { padding-left:30px }
.multi-system .label-system-status {border-radius:5px;font-size: inherit}


.single-system .hr-left-margin { margin-left:15px }
.single-system .status-left-padding { padding-left:30px }
.single-system .label-system-status {border-radius:3px;font-size: inherit}
.single-system {
  background-color: #272024;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  min-width: 320px;
}
.single-system {
padding: 0 15px 7px 15px;
}

.single-system .table>tbody>tr>th{
color:#898889;
font-family: BentonSansMedium;
}

.single-system .table {
margin-bottom: 0px;
}
.single-system .row {
  min-height: 30px;
}
.single-system>.table>tbody>tr>td {
font-size: larger;
font-weight: 400;
font-family: helvetica neue;
}
.single-system>.table>tbody>tr>th, .single-system>.table>thead>tr>td, .single-system>.table>tbody>tr>td {
  border-top: 0px;
  padding-left: 0px;
  padding-bottom: 2px;
  padding-top: 7px;
}
.single-system>.table>tbody>tr>th {
  border-bottom: 1px solid #dddddd;
  margin-left: 5px;
  margin-right: 5px;
}