<style>
.single-system .hr-left-margin { margin-left:15px }
.single-system .status-left-padding { padding-left:30px }
.single-system .label-system-status {border-radius:3px;font-size: inherit}
.single-system {
  background-color: #272024;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  min-width: 320px;
}
.single-system {
padding: 0 15px 7px 15px;
}

.single-system .table>tbody>tr>th{
color:#898889;
font-family: BentonSansMedium;
}

.single-system .table {
margin-bottom: 0px;
}
.single-system .row {
  min-height: 30px;
}
.single-system>.table>tbody>tr>td {
font-size: larger;
font-weight: 400;
font-family: helvetica neue;
}
.single-system>.table>tbody>tr>th, .single-system>.table>thead>tr>td, .single-system>.table>tbody>tr>td {
  border-top: 0px;
  padding-left: 0px;
  padding-bottom: 2px;
  padding-top: 7px;
}
.single-system>.table>tbody>tr>th {
  border-bottom: 1px solid #dddddd;
  margin-left: 5px;
  margin-right: 5px;
}
</style>

<div class="single-system">
<table class="table table-dark sysmon-table">
      <tr class="sysmon-header">
        <th scope="col">STATUS</th>
        <th scope="col">LOAD</th>
        <th scope="col">RUNNING</th>
        <th scope="col">QUEUED</th>
      </tr>
      {% for resource_status in statuses %}
        <tr>
          {% if resource_status.is_operational %}
          <td scope="row">
              <span class="label label-success label-system-status iconworks" style="font-weight: 400;"
                data-icon="&#217;">&nbsp;&nbsp;Operational</span>
          </td>
          <td>
            {{ resource_status.load_percentage }}%
          </td>
          <td>{{ resource_status.jobs.running }}</td>
          <td>{{ resource_status.jobs.queued }}</td>
          {% else %}
          <td scope="row">
            <span class="label label-warning label-system-status"  style="font-weight: 400;">Maintenance</span>
          </td>
          <td>
            --
          </td>
          <td>--</td>
          <td>--</td>
          {% endif %}
        </tr>
      {% endfor %}
  </table>
</div>

